<section class="hero {% if page.banner_height %} {{ page.banner_height }} {% else %} is-medium {% endif %} {% if page.banner_style %} {{page.banner_style}} {% else %} is-dark {% endif %}" {% if page.banner_image %} style="background: url('{{ page.banner_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.banner_darken %} hero-darken {% endif %} py-small">
        <div class="container">
            <div class="columns is-4 is-vcentered">
				{% if page.image %}
                    <div class="column is-one-third">
                        <img src="{{page.image}}" class="thumbnail mx-auto is-rounded"/>
                    </div>
                {% endif %}

                <div class="column">
					<div class="mb-medium">
						<h1 class="title is-1">{{ page.title }}</h1>
						<p class="subtitle is-3">{{ page.subtitle }}</p>
					</div>

                    {% if page.banner_link %}
                        <a href="{{ page.banner_link | relative_url }}" class="button {%if page.banner_link_style %} {{ page.banner_link_style }} {% else %} is-light {% endif %} is-outlined is-rounded is-medium">{{ page.banner_link_text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>