<footer class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <p class="title is-3">Credits</p>

            <a href="{{site.links.contributors}}">
                <img src="https://contrib.rocks/image?repo={{ site.repository }}" />
            </a>    
            
            <p>You could be here! ☝ {% if site.links.source %} Contribute to <a class="has-text-link" href="{{site.links.source}}">this project</a>. {% endif %}</p>
        </div>
    </div>
</footer>