<footer class="footer mt-small">
    <div class="container">
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

		{% if site.data.messages.footer %}
			<div class="content is-small has-text-centered">
				{{site.data.messages.footer | markdownify }}
			</div>
		{% endif %}
    </div>
</footer>

{% include credits.html %}