<nav class="pagination is-centered">
	<a class="is-block pagination-previous" {% if paginator.previous_page %} href="{{ site.baseurl }}{{ paginator.previous_page_path }}" {% else %} disabled {% endif %} >
		{% include icon.html icon="arrow-left" size="lg" %}
	</a>

    <a class="is-block pagination-next" {% if paginator.next_page %} href="{{ site.baseurl }}{{ paginator.next_page_path }}" {% else %} disabled {% endif %} >
		{% include icon.html icon="arrow-right" size="lg" %}
	</a>

    <ul class="pagination-list">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li><a class="pagination-link is-current">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | split: '/' | pop | join: '/' }}" class="pagination-link">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pagination-link">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
