{% if page.tabs %}
{% assign tabs = site.data.[page.tabs] %}

<div class="tabs {% if tabs.size %}{{ tabs.size }}{% endif %} {% if tabs.alignment %}{{ tabs.alignment }}{% endif %} {% if tabs.style %}{{ tabs.style }}{% endif %}">
    <ul>
    {% for tab in tabs.items %}
		{% assign icon = tab.icon %}
        <li {% if tab.link == page.url %} class="is-active" {% endif %}>
            <a href="{{ tab.link | relative_url }}">
                {% if icon %}
					{% include icon.html icon=icon class="is-small" %}
                {% endif %}
                <span>{{ tab.name }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}